$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1440px
) !default;

$navbar-dark-color: #FFFFFF;
$navbar-nav-link-padding-x: 17px;

$font-family-manrope: 'Manrope', sans-serif !default;
$font-family-base: $font-family-manrope !default;


@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.min.css";

@import "select2";
@import "colors";
@import "fonts";
@import "typography";

@import "pages/home";
@import "pages/rules";
@import "pages/faq";
@import "pages/about";

.container {
  padding-left: 0!important;
  padding-right: 0!important;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.z-index-0 {
  z-index: 0;
  position: relative;
}
.z-index-2 {
  z-index: 2;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  height: 72px;

  .navbar-nav {
    margin-right: 52px;
    margin-left: auto;

    .dropdown-toggle::after {
      content: none;
    }

    .btn-link {
      text-decoration: none;
      padding: 8px 20px;
      background-color: white;
      font-weight: 500;
      font-size: 16px;
      border-radius: 0;
      margin-left: 17px;
      @extend .c-dark;
    }
  }

  .navbar-brand {
    margin-left: 52px;
  }
}

footer {
  padding: 80px 64px;

  img.logo {
    margin-bottom: 24px;
  }

  hr {
    border-top: 1px solid #030F4C;
    opacity: 1;
    margin-bottom: 32px;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      padding-bottom: 16px;

      a {
        display: flex;
        color: #030F4C;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          margin: 0;
          padding-left: 10px;
        }
      }
    }
  }

  p {
    font-size: 16px;
    color: #030F4C;
    margin-bottom: 24px;

    &.header {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #030F4C;
      margin-bottom: 24px;
    }
  }

  span {
    display: block;
    margin-top: 16px;
    font-size: 12px;
    color: #030F4C;
    margin-bottom: 30px;
  }

  a.dropdown-toggle {
    background-color: transparent!important;
    outline: none!important;
    font-size: 16px!important;
    line-height: 150%!important;
    color: #030F4C!important;
    font-weight: 600!important;
    padding-right: 0!important;

    &:after {
      content: none;
    }

    img {
      margin-right: 10px;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #030F4C;
  }

  .links {
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-decoration-line: underline;
      color: #030F4C;
      margin-left: 24px;
    }
  }
}

form {
  input[type=text] {
    background: #FFFFFF;
    border: 1px solid #030F4C;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    color: #505050;
    padding: 12px;
    margin-right: 16px;
  }
  input[type=submit] {
    border: 1px solid #030F4C;
    box-sizing: border-box;
    padding: 12px 24px;
    background-color: white;
  }
}

.small-red {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #F00000;
  margin-bottom: 16px;
  display: block;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 100%;
  margin-bottom: 24px;
  min-height: 50px;
  
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    padding-right: 34px;
    padding-left: 34px;
  }
}