body {
  &.about {
    .banner-image-wrapper {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../public/static/images/about-header.jpg");
      background-size: cover;
      background-position-y: center;
      height: 828px;
      position: relative;

      .text-wrapper {
        max-width: 768px;
        width: 100%;
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .strategy {
      h2, span, p {
        margin-bottom: 24px;
        display: block;
      }
      h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        color: #FFFFFF;
      }
    }
    .founders {
      h2 {
        margin-bottom: 80px;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        color: #000000;
      }

      img {
        margin-bottom: 24px;
        max-width: 100%;
      }

      .name {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 0;
        color: #000000;
      }
      .position {
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        margin-bottom: 16px;
        color: #000000;
      }
      .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
      }
    }

    .vacancies {
      form {
        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
          margin-bottom: 8px;
        }

        input[type=text] {
          padding: 12px;
          background: #FFFFFF;
          border: 1px solid #000000;
          width: 100%;
          margin-bottom: 24px;
        }

        input[type=submit] {
          padding: 12px 24px;
          background: #000000;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #FFFFFF;
          margin-top: 24px;
        }
      }
    }

    .news {
      h1 {
        margin-bottom: 80px;
      }

      img {
        margin-bottom: 24px;
      }

      .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 8px;
      }
      .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        margin-bottom: 24px;
      }

      a.more {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000000;
        text-align: center;
        margin-top: 136px;
        display: block;
        text-decoration: none;

        img {
          margin-bottom: 0;
        }
      }
    }

    .contact-us-map {
      p {
        max-width: 768px;
      }

      .contact-block {
        img {
          margin-bottom: 20px;
        }
        .name {
          font-weight: 700;
          font-size: 20px;
          line-height: 140%;
          color: #000000;
          margin-bottom: 8px;
        }
        a.description {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-decoration-line: underline;
          color: #000000;
          margin-bottom: 44px;
          display: block;
        }
        p.description {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #000000;
          margin-bottom: 44px;
        }
      }

      .map {
        img {
          max-width: 100%;
        }
      }
    }

    .image-container {
      overflow: hidden;
      position: relative;
      height: 717px;

      .image-slider {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

        -webkit-animation: linear infinite;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 30s;

        img {
          height: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-us-map, .news, .vacancies, .founders, .strategy {
    padding: 112px 64px!important;
  }
}

@-webkit-keyframes slide {
  0% {
    left: 0%;
    transform: translateX(0%);
  }
  50% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0%;
    transform: translateX(0%);
  }
}