@import "../bootstrap_override";

body {
  &.home {
    h2 {
      margin-bottom: 24px;
    }

    a.btn-outlined {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      padding: 12px 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      text-decoration: none;
    }

    .navbar {
      height: 72px;
    }

    .main-container {
      padding-bottom: 40px;
    }

    .bold-purple {
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
      color: #D2C0F4;
    }

    .video-wrapper {
      position: relative;

      .absolute-center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: -80px;
      }
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-menu a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-menu a:hover {
      background-color: #ddd;
    }
    
    .workingDropdown:hover .dropdown-menu {
      display: block;
    }

    .welcome {
      @extend .bg-dark;
      padding: 80px 132px 65px 65px;

      .button-container {
        padding-left: 25px;
        padding-right: 25px;
      }

      h1 {
        margin: 0;
      }

      .btn {
        white-space: nowrap;
      }
    }

    .money-transfer {
      @extend .bg-light-purple;
      position: relative;
      background-position: center;
      background-size: cover;
      min-height: 720px;
      background-image: url("../../../public/static/images/backgound-space.png");
      background-repeat: no-repeat;
      margin-top: -40px;
      display: inline-block;
      width: 100%;
      overflow: hidden;

      padding: 87px 132px 143px 49px;

      .text-content {
        z-index: 1;
        position: relative;
      }

      .star-container {
        padding: 15px;
      }

      .content {
        h1 {
          margin-bottom: 29px;
          @extend .c-dark;
        }

        h3 {
          font-weight: 700;
          font-size: 32px;
          line-height: 130%;
          margin-bottom: 23px;

          @extend .c-beige;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 185%;
          color: $black;
          max-width: 700px;
          margin-top: 5px;
          margin-bottom: 0;
        }

        form {
          input[type=submit] {
            width: 286px;
            height: 71px;
            border-radius: 0;
            padding: 12px 24px;

            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: $white;
            border: 0;

            @extend .bg-dark;
          }
        }
      }

      .background-text {
        position: absolute;
        bottom: -35px;
        left: 15px;
      }
    }

    .mobile-application {
      padding: 112px 64px;

      .top-padding {
        padding-top: 90px;
      }

      h2, p, li {
        color: #030F4C;
      }

      p {
        margin-bottom: 32px;
        font-size: 18px;

        &.disabled {
          font-weight: 600;
          font-size: 16px;
          line-height: 40px;
          letter-spacing: 0.095em;
          text-transform: uppercase;
          color: #030F4C;
          opacity: 0.5;
          margin-bottom: 0;
        }
      }

      a {
        &.app-download-links:not(:first-of-type) {
          margin-left: 24px;
        }
      }

      ul {
        margin-bottom: 40px;

        li {
          margin-bottom: 16px;
          font-size: 16px;
        }
      }
    }

    .bg-light-purple {
      .container {
        padding-top: 116px;
        padding-bottom: 70px;
      }
    }

    .take-off-to-space {
      position: relative;
      padding: 112px 64px;

      background-image: url("../../../public/static/images/globe.jpg");
      background-position: center;
      background-size: cover;


      img {
        margin-bottom: 24px;
      }

      .overlay {
        background: #030F4C;
        opacity: 0.5;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      h2 {
        max-width: 1080px;
      }

      .last {
        margin-bottom: 0;
        padding-bottom: 80px;
        max-width: 600px;
      }

      .currencies {
        img {
          margin-right: 33px;
          margin-bottom: 67px;
        }
      }
    }

    .guiding-star {
      position: relative;
      padding: 132px 64px;
      max-height: 718px;
      background-image: url("../../../public/static/images/business-man.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .last {
        padding-bottom: 85px;
      }

      .overlay {
        background: #030F4C;
        opacity: 0.5;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      img {
        margin-bottom: 20px;
      }

      .business-image {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }

    .digital-card {
      padding: 135px 64px;

      .text-content {
        padding-top: 205px;

        .disabled {
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          letter-spacing: 0.095em;
          text-transform: uppercase;
          color: #D2C0F4;
          opacity: 0.5;
        }
      }
    }

    .galaxify-finances {
      position: relative;
      padding: 112px 64px 214px 64px;

      img.absolute-right {
        position: absolute;
        right: 85px;
        top: 70px;
      }

      .text-content {
        margin: 0 auto;
        max-width: 768px;

        img {
          margin-bottom: 20px;
        }

        .last {
          padding-bottom: 85px;
        }
      }

      .galaxy-image {
        position: absolute;
        left: 50%;
        margin-left: -1037px;
        bottom: -209px;
      }

      .galaxy-image-mobile {
        position: absolute;
        left: 50%;
        margin-left: -218px;
        bottom: -45px;
      }
    }

    .select2-wrapper {
      @extend .bg-beige;

      padding: 20px 24px;
      border: 1px solid #030F4C;
      box-sizing: border-box;
      margin-bottom: 36px;
      display: flex;

      &:last-child {
        margin-bottom: 74px;
      }

      div.select {
        flex-grow: 1;
      }

      .select2-prepend {
        p {
          font-weight: 700;
          font-size: 18px;
          line-height: 150%;
          margin: 0;

          @extend .c-black;
        }
      }

      .select2-append {
        align-items: flex-end;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  body.home .mobile-application a.app-download-links:not(:first-of-type) {
    margin-left: 0;
    margin-top: 25px;
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  body.home {
    .guiding-star {
      max-height: unset;
    }
    .money-transfer {
      padding-left: 34px;
      padding-right: 34px;

      .star-container {
        position: absolute;
      }

      h1 {
        margin-left: 70px;
        margin-top: 14px;
      }

      input[type=submit] {
        width: 100% !important;
        margin-top: 45px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body.home {
    .container-fluid {
      z-index: 1;
    }

    .bg-light-purple .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    .money-transfer {
      .star-container {
        position: absolute;
      }

      h1 {
        margin-left: 70px;
        margin-top: 14px;
      }
    }

    .money-transfer, .guiding-star, .mobile-application, .galaxify-finances, .take-off-to-space, .digital-card {
      padding-right: 34px;
      padding-left: 34px;
    }

    .galaxify-finances {
      padding-top: 260px;

      img.absolute-right {
        left: 50%;
        margin-left: -42px;
      }
    }

    .take-off-to-space .currencies img {
      max-width: 53px;
      margin-right: 15px;
    }

    .welcome .btn {
      margin-bottom: 18px;
    }

    .welcome {
      padding: 26px;
    }

    .mobile-application {
      padding-top: 96px;
      padding-bottom: 35px;

      .disabled {
        text-align: center;
        margin-top: 37px;
      }
    }

    .digital-card .text-content {
      padding-top: 70px;
    }

    nav .navbar-brand {
      margin-left: unset;
    }
  }
}